<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Dojo Survey Index</title>
  <style>
    * {
      margin: 5px 30px;
    }
  </style>
</head>

<body>
  <h3>Submitted Info:</h3>
  <p>Name: {{ name_on_template }}</p>
  <p>Dojo Location: {{ location_on_template }}</p>
  <p>Favorite Language: {{ language_on_template }}</p>
  <p>Comment: {{ comment_on_template }}</p>
  <p>Snack:
    <br>
    {% for snack in snack_on_template %}
      {{ snack }} <br>
    {% endfor %}
  </p>
  <p>OS: {{ os_on_template }}</p>
</body>

</html>
